body {
    margin: 0;
}

header {
    background-color: skyblue;
    height: 150px;
}

#button {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}